<!DOCTYPE html>
<html>
<head>
    <style>
        .header {
            background-color: darkcyan;
            width: 100%;
            height: 5em
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Confirm registration.</title>
</head>
<body>
<div class="header"></div>
<p>Greetings, {{name}}!</p>
<span>Your confirmation code is: </span><b>{{emailCode}}</b>
</body>
</html>