<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Confirm registration.</title>
</head>
<body>
<span>Your confirmation code is: </span><b>{{emailCode}}</b>
</body>
</html>