<!DOCTYPE html>
<html>
<head>
    <style>
        .header { background-color: lightcyan; width: 100%; height: 5em; font-size: 2em; color: black; }
        .flex { display: flex; justify-content: center }
    </style>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Восстановление пароля.</title>
</head>
<body>
<div class="header flex">Подтвердите ваш аккаунт</div>
<span>Ваш код восстановления пароля: </span><b>{{emailCode}}</b>
</body>
</html>